{% extends "layout.html" %}

{% block title %}
  How to
{% endblock %}

{% block main %}
    <div class="site-blocks-cover overlay inner-page" style="background-image: url(/static/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container py-1">
        <div class="row align-items-center">
          <div class="col-md-10">
            <h1>Our Simple SMS Ping System</h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <h2 class="site-heading text-black mb-5 text-center" id="ALIGNCENTER">How to report via SMS</h2>
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4 col-md-6 mb-5 post-entry">
            <a href="#" class="d-block figure">
              <img src="/static/images/garbageonwater.png" alt="Trash" class="img-fluid">
            </a>
            <h2>Step 1:</h2>
            <h3><a href="#">Spot the trash</a></h3>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 post-entry">
            <a href="#" class="d-block figure">
              <img src="/static/images/text-messaging.jpg" alt="Text Us" class="img-fluid">
            </a>
            <h2>Step 2:</h2>
            <h3><a href="#">Text ProjectErie at +1-647-559-1371 and use the keyword 'report' followed by the 'type', 'severity' and 'location' properties each separated by a space</a></h3>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 post-entry">
            <a href="#" class="d-block figure">
              <img src="/static/images/checklist.jpg" alt="Describe the issue" class="img-fluid">
            </a>
            <h2>Step 3:</h2>
            <h3><a href="#">Our server accepts the following options for the properties: "report (trash/algae) (LOW/MID/HIGH) ±#.##,±#.##"</a></h3>
            <h3>e.g. report trash mid 7.38,-2.21</h3>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section site-block-3 bg-light">
      <h2 class="site-heading text-black mb-5 text-center" id="ALIGNCENTER">How to Check for Nearby Trash</h2>
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-4 col-md-6 mb-5 post-entry">
              <a href="#" class="d-block figure">
                <img src="/static/images/text-messaging.jpg" alt="Trash" class="img-fluid">
              </a>
              <h2>Step 1:</h2>
              <h3><a href="#">Text ProjectErie at +1-647-559-1371 with format "query [coordinates] [search_radius]"</a></h3>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 post-entry">
              <a href="#" class="d-block figure">
                <img src="/static/images/notification1.jpg" alt="Text Us" class="img-fluid">
              </a>
              <h2>Step 2:</h2>
              <h3><a href="#">Receive a text containing the closest recent report within your search radius in the format "[distance] [coordinates] [type] [severity]" </a></h3>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 post-entry">
              <a href="#" class="d-block figure">
                <img src="/static/images/hunting.jpg" alt="Describe the issue" class="img-fluid">
              </a>
              <h2>Step 3:</h2>
              <h3><a href="#">Happy Hunting!</a></h3>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
