{% extends "layout.html" %}

{% block title %}
  Project Erie
{% endblock %}

{% block extra %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
    
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Trash Score', 'Algae Score'],
          ['Nov',  6.8,       5.5],
          ['Dec',  7.5,      5.7],
          ['Jan',  8.2,      6.3],
          ['Feb',  7.7,      6.5],
          ['Mar',  '{{ score }}',      '{{ algae }}']
        ]);
        var options = {
          title: 'Historical Lake Health',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
      }
    </script>
    <style type="text/css">
      #map {
        height: 100%;
        width: 100%;
      }
    </style>
{% endblock %}

{% block main %}
    <div class="site-blocks-cover overlay" style="background-image: url(/static/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center text-center justify-content-center">
          <div class="col-md-8">
            <span class="sub-text">Leveraging crowd-sourced data for a cleaner lake</span>
            <h1>Project Erie</h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-block-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <a href="/howto" class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <img src="../static/images/Icons and Logo/Binoculars.png" height=50px style="margin-top:13px">
              </div>
              <div class="text">
                <h3>Trash Spotting</h3>
                <p>Contribute to analytics and cleanup efforts by pinging the location of trash on the lake.</p>
              </div>
            </a>   
          </div>
          <div class="col-lg-6">
            <a href="/map" class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <img src="../static/images/Icons and Logo/Map.png" height=50px style="margin-top:10px">
              </div>
              <div class="text">
                <h3>Trash Map</h3>
                <p>Go trash-hunting using a map of trash located by users on Lake Erie, updated hourly.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section  border-bottom">
      <h2 class="font-weight-bold text-black mb-5 text-center" id="HOWITWORKS">How It Works</h2>
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <div class="media custom-media">
              <div class="mr-3 icon"> <img src="../static/images/Icons and Logo/Ping.png" height=50px style="margin-left: 13px; margin-top: 7px"> </div>
              <div class="media-body">
                <h5 class="mt-0">1. Crowd-Sourced Pings</h5>
                Trash-spotters conveniently ping the location of sighted trash on and around Lake using our SMS service
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <div class="media custom-media">
              <div class="mr-3 icon"><img src="../static/images/Icons and Logo/Analysis.png" height=60px></div>
              <div class="media-body">
                <h5 class="mt-0">2. Data Analysis</h5>
                Data points are evaluated into a dynamic lake-health score and presented as a map of recently reported trash. 
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <div class="media custom-media">
              <div class="mr-3 icon"><img src="../static/images/Icons and Logo/Trash.png" height=60px></div>
              <div class="media-body">
                <h5 class="mt-0">3. Trash Management</h5>
                Using the data, vigilante trash-hunters can retrieve and dispose of trash while local authorities are empowered to make informed policies. 
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section site-block-3 bg-light">
      <h2 class="site-heading text-black mb-5 text-center" id="ALIGNCENTER">The State of Our Lake</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div id="map"></div>
            </div>
            <!-- <div class="img-border">

          </div> -->
          <div class="col-lg-5">
            <div class="row row-items">
              <div class="col-6">
                <a class="d-flex text-center feature active p-4 mb-4 bg-white">
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <span class="bigScore" id="trashScore"> {{ score }} </span>
                    </span>
                    <h3>Trash Score</h3>
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="d-flex text-center feature active p-4 mb-4 bg-white">
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                        <span class="bigScore" id="algaeScore"> {{ algae }} </span>
                    </span>
                    <h3>Algae Score</h3>
                  </span>
                </a>
              </div>
            </div>
            <div id="curve_chart" ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <span class="sub-title">News &amp; Update</span>
            <h2 class="font-weight-bold text-black mb-5">Community Contributors</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
            <a  class="d-block figure">
              <img src="/static/images/Cleanup 1.jpg" alt="Image" class="img-fluid">
            </a>
            <span class="text-muted d-block mb-2">13, November 2018</span>
            <h3><a >The Pennsylvania Lake Erie International Coastal Cleanup</a></h3>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
            <a class="d-block figure">
              <img src="/static/images/Cleanup 2.jpg" alt="Image" class="img-fluid">
            </a>
            <span class="text-muted d-block mb-2">18, January 2019</span>
            <h3><a >Cleaning up the beach: The lure of Lake Erie </a></h3>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
            <a  class="d-block figure">
              <img src="/static/images/Cleanup 3.JPG" alt="Image" class="img-fluid">
            </a>
            <span class="text-muted d-block mb-2">23, February 2019</span>
            <h3><a href="#">Conservation Authorities Support Plan to Clean Up Lake Erie </a></h3>
          </div>

        </div>
        <div class="row mt-5 text-center">
          <div class="col-12">
            <p><a  class="btn btn-primary btn-lg rounded-0">View All Posts</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <script>
        function initMap(){
          // Map options
          var options = {
            zoom:7,
            center:{lat:42.0669,lng:-81.3399}
          }
    
          // New map
          var map = new google.maps.Map(document.getElementById('map'), options);

          // Array of markers
          var markers = JSON.parse('{{ markerdata | tojson | safe }}');
          console.log(markers);

          // Loop through markers
          for(var i = 0; i < markers.length; i++){
            // Add marker
            addMarker(markers[i]);
          }

          // Add Marker Function
          function addMarker(props){
            var marker = new google.maps.Marker({
              position:props.coords,
              map:map,
            });
            // Check content
            if(props.content){
              var infoWindow = new google.maps.InfoWindow({
                content:props.content
              });
    
              marker.addListener('click', function(){
                infoWindow.open(map, marker); 
              });
            }}}
      </script>
    
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOu4NPK-hWvyMx5bNCrOOvP2HXehwGCok&callback=initMap">
        </script>

{% endblock %}